Name     Version ID             Fix Versions Description
-------- ------- -------------- ------------ -------------------------------------------------------------------------------
paramiko 3.5.1   CVE-2026-44405              In Paramiko through 4.0.0 before a448945, rsakey.py allows the SHA-1 algorithm.
